<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="mVO" type="com.githrd.camp24.vo.MemberVO"/>
		<typeAlias alias="mVO2" type="com.githrd.camp24.vo.MemberVO2"/>
		<typeAlias alias="bVO" type="com.githrd.camp24.vo.BoardVO"/>
		<typeAlias alias="fVO" type="com.githrd.camp24.vo.FileVO"/>
		<typeAlias alias="aVO" type="com.githrd.camp24.vo.AvatarVO"/>
		<typeAlias alias="apiVO" type="com.githrd.camp24.vo.ApiVO"/>
		<typeAlias alias="file" type="com.githrd.camp24.util.FileUtil"/>
		<typeAlias alias="page" type="com.githrd.camp24.util.PageUtil"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/githrd/camp24/sql/FreeSQL.xml"/>
		<mapper resource="com/githrd/camp24/sql/MemberSQL.xml" />
		<mapper resource="com/githrd/camp24/sql/MemberSQL2.xml" />
		<mapper resource="com/githrd/camp24/sql/QnaSQL.xml"/>
		<mapper resource="com/githrd/camp24/sql/ReviewSQL.xml"/>
		<!-- <mapper resource="com/githrd/camp24/sql/UserSQL.xml"/> -->
	</mappers>
</configuration>
