<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
	
	<!-- File Appenders -->
	<appender name="file" class="org.apache.log4j.FileAppender">
		<param name="File" value="${catalina.base}/src/main/resources/log/file.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p - %d{yyyy/MM/dd HH:mm:ss} : %c - %m%n" />
		</layout>
	</appender>
	
	<!-- Member Appenders -->
	<appender name="memberAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="${catalina.base}/src/main/resources/log/member.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p - %d{yyyy/MM/dd HH:mm:ss} : %c - %m%n" />
		</layout>
	</appender>
	
	<!-- freeBoard Appenders -->
	<appender name="freeBoardAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="${catalina.base}/src/main/resources/log/freeBoard.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p - %d{yyyy/MM/dd HH:mm:ss} : %c - %m%n" />
		</layout>
	</appender>
	
	<!-- qnaBoard Appenders -->
	<appender name="qnaBoardAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="${catalina.base}/src/main/resources/log/qnaBoard.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p - %d{yyyy/MM/dd HH:mm:ss} : %c - %m%n" />
		</layout>
	</appender>
	
	<!-- ReviewBoard Appenders -->
	<appender name="reviewBoardAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="${catalina.base}/src/main/resources/log/reviewBoard.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p - %d{yyyy/MM/dd HH:mm:ss} : %c - %m%n" />
		</layout>
	</appender>
	
	<!-- 이메일 인증 로그 어팬더 -->
	<appender name="mailLog" class="org.apache.log4j.FileAppender">
		<param name="File" value="${catalina.base}/src/main/resources/log/mail.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p - %d{yyyy/MM/dd HH:mm:ss} : %m%n" />
		</layout>
	</appender>
	
	<!-- 선호도조사 로그 어팬더 -->
	<appender name="preferenceLog" class="org.apache.log4j.FileAppender">
		<param name="File" value="${catalina.base}/src/main/resources/log/preference.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p - %d{yyyy/MM/dd HH:mm:ss} : %m%n" />
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="com.githrd.camp24">
		<level value="info" />
	</logger>
	
	<logger name="memberLog">
		<level value="info" />
		<appender-ref ref="memberAppender" />
	</logger>
	
	<logger name="freeBoardLog">
		<level value="info" />
		<appender-ref ref="freeBoardAppender" />
	</logger>
	
	<logger name="qnaBoardLog">
		<level value="info" />
		<appender-ref ref="qnaBoardAppender" />
	</logger>
	
	<logger name="reviewBoardLog">
		<level value="info" />
		<appender-ref ref="reviewBoardAppender" />
	</logger>
	
	<logger name="mailLog">
		<level value="info" />
		<appender-ref ref="mailAppender" /> <!-- 3. -->
	</logger>
	
	<logger name="preferenceLog">
		<level value="info" />
		<appender-ref ref="preferenceLog" /> <!-- 3. -->
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
